# Bundled into openapi.yaml + mintlify/openapi.yaml via `npm run build:openapi`.
openapi: 3.1.0
info:
  title: Grid API
  description: >
    API for managing global payments on the open Money Grid. Built by Lightspark. See the full documentation at https://docs.lightspark.com/.
  version: "2025-10-13"
  contact:
    name: Lightspark Support
    email: support@lightspark.com
  license:
    name: Proprietary
    url: https://lightspark.com/terms
tags:
  - name: Platform Configuration
    description: >-
      Platform configuration endpoints for managing global settings. You can
      also configure these settings in the Grid dashboard.
  - name: Customers
    description: Customer management endpoints for creating and updating customer information
  - name: Contact Verification
    description: >-
      Endpoints for verifying a customer's email and phone via one-time codes.
      Required only for customers whose payment provider mandates contact
      verification (e.g. EU customers); other providers return 409.
  - name: Strong Customer Authentication
    description: >-
      Endpoints for authorizing money-movement operations that require Strong
      Customer Authentication. Relevant only for customers in a region where SCA is required (e.g. EU); customers outside SCA-regulated regions never see an SCA challenge and these endpoints return 409.
  - name: KYC/KYB Verifications
    description: >-
      Endpoints for Know Your Customer (KYC) and Know Your Business (KYB)
      verification, including managing beneficial owners and triggering
      verification for customers.
  - name: Documents
    description: >-
      Endpoints for uploading and managing verification documents for customers
      and beneficial owners. Supports KYC and KYB document requirements.
  - name: Internal Accounts
    description: Internal account management endpoints for creating and managing internal accounts
  - name: External Accounts
    description: External account management endpoints for creating and managing external bank accounts
  - name: Same-Currency Transfers
    description: Endpoints for transferring funds between internal and external accounts with the same currency
  - name: Cross-Currency Transfers
    description: Endpoints for creating and confirming quotes for cross-currency transfers
  - name: Transactions
    description: Endpoints for retrieving transaction information
  - name: Webhooks
    description: Webhook endpoints and configuration for receiving notifications
  - name: Invitations
    description: Endpoints for creating, claiming and managing UMA invitations
  - name: Sandbox
    description: Endpoints to trigger test cases in sandbox
  - name: API Tokens
    description: Endpoints to programmatically manage API tokens
  - name: Exchange Rates
    description: >-
      Endpoints for retrieving cached foreign exchange rates. Rates are cached
      for approximately 5 minutes and include platform-specific fees.
  - name: Discoveries
    description: >-
      Endpoints for discovering available payment rails, banks, and providers
      for a given country and currency corridor.
  - name: Embedded Wallet Auth
    description: >-
      Endpoints for registering and verifying end-user authentication
      credentials (email OTP, OAuth, passkey) used to sign Embedded Wallet
      actions.
  - name: Agent Management
    description: >-
      Endpoints for creating and managing agents (experimental), called by the partner's
      backend using platform credentials. Covers the full agent lifecycle: creation,
      policy configuration, pausing, deletion, the device code installation flow, and
      approving or rejecting transactions initiated by agents.
  - name: Agent Operations
    description: >-
      Endpoints called by the agent itself using its own credentials (obtained via device
      code redemption). Scoped to the agent's associated customer — all requests
      automatically operate on behalf of that customer and are subject to the agent's
      policy. When an action requires approval, the resulting transaction enters a pending
      state and must be approved by the platform via
      `POST /transactions/{transactionId}/approve`.
  - name: Cards
    description: >-
      Card management endpoints. Issue debit cards against an internal
      account, freeze / unfreeze, close, manage card funding sources, and
      list card transactions.
  - name: Stablecoins
    description: >-
      Stablecoin issuance endpoints. Link provider accounts, register
      provider-created stablecoins, create mint/burn quotes, execute them, and
      track the resulting operations.
servers:
  - url: https://api.lightspark.com/grid/2025-10-13
    description: Production server
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: >-
        API token authentication using format `<api token id>:<api client
        secret>`
    AgentAuth:
      type: http
      scheme: bearer
      description: >-
        Bearer token authentication for agent-scoped endpoints. The token is the
        `accessToken` returned when redeeming a device code via
        `POST /agents/device-codes/{code}/redeem`. Agent credentials are
        user-scoped: all requests are automatically bound to the agent's
        associated customer and subject to the agent's policy.
    WebhookSignature:
      type: apiKey
      in: header
      name: X-Grid-Signature
      description: >
        Secp256r1 (P-256) asymmetric signature of the webhook payload, which can
        be used to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If
        not, it should be rejected.
paths:
  /config:
    $ref: paths/platform/config.yaml
  /exchange-rates:
    $ref: paths/exchange-rates/exchange_rates.yaml
  /discoveries:
    $ref: paths/discoveries/discoveries.yaml
  /customers:
    $ref: paths/customers/customers.yaml
  /customers/{customerId}:
    $ref: paths/customers/customers_{customerId}.yaml
  /customers/{customerId}/kyc-link:
    $ref: paths/customers/customers_{customerId}_kyc-link.yaml
  /customers/{customerId}/verify-email:
    $ref: paths/customers/customers_{customerId}_verify-email.yaml
  /customers/{customerId}/verify-email/confirm:
    $ref: paths/customers/customers_{customerId}_verify-email_confirm.yaml
  /customers/{customerId}/verify-phone:
    $ref: paths/customers/customers_{customerId}_verify-phone.yaml
  /customers/{customerId}/verify-phone/confirm:
    $ref: paths/customers/customers_{customerId}_verify-phone_confirm.yaml
  /sca/factors:
    $ref: paths/sca/sca_factors.yaml
  /sca/factors/confirm:
    $ref: paths/sca/sca_factors_confirm.yaml
  /sca/factors/{credentialId}:
    $ref: paths/sca/sca_factors_{credentialId}.yaml
  /sca/login/start:
    $ref: paths/sca/sca_login_start.yaml
  /sca/login/complete:
    $ref: paths/sca/sca_login_complete.yaml
  /sca/record-event:
    $ref: paths/sca/sca_record-event.yaml
  /sca/factors/reset:
    $ref: paths/sca/sca_factors_reset.yaml
  /sca/factors/reset/{resetId}:
    $ref: paths/sca/sca_factors_reset_{resetId}.yaml
  /sca/factors/reset/{resetId}/complete:
    $ref: paths/sca/sca_factors_reset_{resetId}_complete.yaml
  /customers/external-accounts/{externalAccountId}/trust:
    $ref: paths/customers/customers_external_accounts_{externalAccountId}_trust.yaml
  /customers/external-accounts/{externalAccountId}/trust/confirm:
    $ref: paths/customers/customers_external_accounts_{externalAccountId}_trust_confirm.yaml
  /customers/external-accounts/{externalAccountId}/untrust:
    $ref: paths/customers/customers_external_accounts_{externalAccountId}_untrust.yaml
  /customers/external-accounts/{externalAccountId}/untrust/confirm:
    $ref: paths/customers/customers_external_accounts_{externalAccountId}_untrust_confirm.yaml
  /customers/internal-accounts:
    $ref: paths/customers/customers_internal_accounts.yaml
  /platform/internal-accounts:
    $ref: paths/platform/platform_internal_accounts.yaml
  /customers/external-accounts:
    $ref: paths/customers/customers_external_accounts.yaml
  /customers/external-accounts/{externalAccountId}:
    $ref: paths/customers/customers_external_accounts_{externalAccountId}.yaml
  /platform/external-accounts:
    $ref: paths/platform/platform_external_accounts.yaml
  /platform/external-accounts/{externalAccountId}:
    $ref: paths/platform/platform_external_accounts_{externalAccountId}.yaml
  /beneficial-owners:
    $ref: paths/beneficial-owners/beneficial_owners.yaml
  /beneficial-owners/{beneficialOwnerId}:
    $ref: paths/beneficial-owners/beneficial_owners_{beneficialOwnerId}.yaml
  /documents:
    $ref: paths/documents/documents.yaml
  /documents/{documentId}:
    $ref: paths/documents/documents_{documentId}.yaml
  /verifications:
    $ref: paths/verifications/verifications.yaml
  /verifications/{verificationId}:
    $ref: paths/verifications/verifications_{verificationId}.yaml
  /transfer-in:
    $ref: paths/transfers/transfer_in.yaml
  /transfer-out:
    $ref: paths/transfers/transfer_out.yaml
  /receiver/uma/{receiverUmaAddress}:
    $ref: paths/receiver/uma/receiver_uma_{receiverUmaAddress}.yaml
  /receiver/external-account/{accountId}:
    $ref: paths/receiver/external-account/receiver_external-account_{accountId}.yaml
  /quotes/{quoteId}:
    $ref: paths/quotes/quotes_{quoteId}.yaml
  /quotes:
    $ref: paths/quotes/quotes.yaml
  /quotes/{quoteId}/execute:
    $ref: paths/quotes/quotes_{quoteId}_execute.yaml
  /quotes/{quoteId}/authorize:
    $ref: paths/quotes/quotes_{quoteId}_authorize.yaml
  /quotes/{quoteId}/authorize/resend:
    $ref: paths/quotes/quotes_{quoteId}_authorize_resend.yaml
  /transactions:
    $ref: paths/transactions/transactions.yaml
  /transactions/{transactionId}:
    $ref: paths/transactions/transactions_{transactionId}.yaml
  /transactions/{transactionId}/confirm:
    $ref: paths/transactions/transactions_{transactionId}_confirm.yaml
  /transactions/{transactionId}/approve:
    $ref: paths/transactions/transactions_{transactionId}_approve.yaml
  /transactions/{transactionId}/reject:
    $ref: paths/transactions/transactions_{transactionId}_reject.yaml
  /crypto/estimate-withdrawal-fee:
    $ref: paths/crypto/crypto_estimate-withdrawal-fee.yaml
  /sandbox/webhooks/test:
    $ref: paths/sandbox/sandbox_webhooks_test.yaml
  /customers/bulk/csv:
    $ref: paths/customers/customers_bulk_csv.yaml
  /customers/bulk/jobs/{jobId}:
    $ref: paths/customers/customers_bulk_jobs_{jobId}.yaml
  /invitations:
    $ref: paths/invitations/invitations.yaml
  /invitations/{invitationCode}:
    $ref: paths/invitations/invitations_{invitationCode}.yaml
  /invitations/{invitationCode}/claim:
    $ref: paths/invitations/invitations_{invitationCode}_claim.yaml
  /invitations/{invitationCode}/cancel:
    $ref: paths/invitations/invitations_{invitationCode}_cancel.yaml
  /sandbox/send:
    $ref: paths/sandbox/sandbox_send.yaml
  /sandbox/uma/receive:
    $ref: paths/sandbox/sandbox_uma_receive.yaml
  /sandbox/internal-accounts/{accountId}/fund:
    $ref: paths/sandbox/sandbox_internal_accounts_{accountId}_fund.yaml
  /uma-providers:
    $ref: paths/uma_providers/uma_providers.yaml
  /tokens:
    $ref: paths/tokens/tokens.yaml
  /tokens/{tokenId}:
    $ref: paths/tokens/tokens_{tokenId}.yaml
  /internal-accounts/{id}:
    $ref: paths/internal_accounts/internal_accounts_{id}.yaml
  /internal-accounts/{id}/export:
    $ref: paths/internal_accounts/internal_accounts_{id}_export.yaml
  /auth/credentials:
    $ref: paths/auth/auth_credentials.yaml
  /auth/credentials/{id}:
    $ref: paths/auth/auth_credentials_{id}.yaml
  /auth/credentials/{id}/verify:
    $ref: paths/auth/auth_credentials_{id}_verify.yaml
  /auth/credentials/{id}/challenge:
    $ref: paths/auth/auth_credentials_{id}_challenge.yaml
  /auth/sessions:
    $ref: paths/auth/auth_sessions.yaml
  /auth/sessions/{id}:
    $ref: paths/auth/auth_sessions_{id}.yaml
  /auth/sessions/{id}/refresh:
    $ref: paths/auth/auth_sessions_{id}_refresh.yaml
  /auth/delegated-keys:
    $ref: paths/auth/auth_delegated-keys.yaml
  /auth/delegated-keys/{id}:
    $ref: paths/auth/auth_delegated-keys_{id}.yaml
  /agents:
    $ref: paths/agents/agents.yaml
  /agents/approvals:
    $ref: paths/agents/agents_approvals.yaml
  /agents/me:
    $ref: paths/agents/agents_me.yaml
  /agents/{agentId}:
    $ref: paths/agents/agents_{agentId}.yaml
  /agents/{agentId}/policy:
    $ref: paths/agents/agents_{agentId}_policy.yaml
  /agents/{agentId}/device-codes:
    $ref: paths/agents/agents_{agentId}_device-codes.yaml
  /agents/{agentId}/actions/{actionId}/approve:
    $ref: paths/agents/agents_{agentId}_actions_{actionId}_approve.yaml
  /agents/{agentId}/actions/{actionId}/reject:
    $ref: paths/agents/agents_{agentId}_actions_{actionId}_reject.yaml
  /agents/device-codes/{code}/status:
    $ref: paths/agents/agents_device-codes_{code}_status.yaml
  /agents/device-codes/{code}/redeem:
    $ref: paths/agents/agents_device-codes_{code}_redeem.yaml
  /agents/me/transactions:
    $ref: paths/agents/agents_me_transactions.yaml
  /agents/me/transactions/{transactionId}:
    $ref: paths/agents/agents_me_transactions_{transactionId}.yaml

  /agents/me/quotes:
    $ref: paths/agents/agents_me_quotes.yaml
  /agents/me/quotes/{quoteId}:
    $ref: paths/agents/agents_me_quotes_{quoteId}.yaml
  /agents/me/quotes/{quoteId}/execute:
    $ref: paths/agents/agents_me_quotes_{quoteId}_execute.yaml
  /agents/me/actions:
    $ref: paths/agents/agents_me_actions.yaml
  /agents/me/actions/{actionId}:
    $ref: paths/agents/agents_me_actions_{actionId}.yaml
  /agents/me/transfer-in:
    $ref: paths/agents/agents_me_transfer-in.yaml
  /agents/me/transfer-out:
    $ref: paths/agents/agents_me_transfer-out.yaml
  /agents/me/internal-accounts:
    $ref: paths/agents/agents_me_internal-accounts.yaml
  /agents/me/external-accounts:
    $ref: paths/agents/agents_me_external-accounts.yaml
  /agents/me/external-accounts/{externalAccountId}:
    $ref: paths/agents/agents_me_external-accounts_{externalAccountId}.yaml
  /cards:
    $ref: paths/cards/cards.yaml
  /cards/{id}:
    $ref: paths/cards/cards_{id}.yaml
  /cards/{id}/reveal:
    $ref: paths/cards/cards_{id}_reveal.yaml
  /sandbox/cards/{id}/simulate/authorization:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_authorization.yaml
  /sandbox/cards/{id}/simulate/clearing:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_clearing.yaml
  /sandbox/cards/{id}/simulate/return:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_return.yaml
  /sandbox/cards/{id}/simulate/balance_inquiry:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_balance_inquiry.yaml
  /sandbox/cards/{id}/simulate/credit_authorization:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_credit_authorization.yaml
  /sandbox/cards/{id}/simulate/financial_authorization:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_financial_authorization.yaml
  /sandbox/cards/{id}/simulate/financial_credit_authorization:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_financial_credit_authorization.yaml
  /sandbox/cards/{id}/simulate/authorization_advice:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_authorization_advice.yaml
  /sandbox/cards/{id}/simulate/credit_authorization_advice:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_credit_authorization_advice.yaml
  /sandbox/cards/{id}/simulate/return_reversal:
    $ref: paths/sandbox/cards/sandbox_cards_{id}_simulate_return_reversal.yaml
  /stablecoin-provider-accounts:
    $ref: paths/stablecoins/stablecoin-provider-accounts.yaml
  /stablecoin-provider-accounts/{stablecoinProviderAccountId}:
    $ref: paths/stablecoins/stablecoin-provider-accounts_{stablecoinProviderAccountId}.yaml
webhooks:
  agent-action:
    $ref: webhooks/agent-action.yaml
  incoming-payment:
    $ref: webhooks/incoming-payment.yaml
  outgoing-payment:
    $ref: webhooks/outgoing-payment.yaml
  test-webhook:
    $ref: webhooks/test-webhook.yaml
  bulk-upload:
    $ref: webhooks/bulk-upload.yaml
  invitation-claimed:
    $ref: webhooks/invitation-claimed.yaml
  customer-update:
    $ref: webhooks/customer-update.yaml
  internal-account-status:
    $ref: webhooks/internal-account-status.yaml
  verification-update:
    $ref: webhooks/verification-update.yaml
  card-state-change:
    $ref: webhooks/card-state-change.yaml
  card-funding-source-change:
    $ref: webhooks/card-funding-source-change.yaml
  card-transaction:
    $ref: webhooks/card-transaction.yaml
security:
  - BasicAuth: []
  - AgentAuth: []
