.canvas {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-sunken);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect x='8.75' y='8.75' width='2.5' height='2.5' fill='%23DEDED9'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-position: 8px 8px;
  width: 100%;
  height: 100%;

  :global([data-theme='dark']) & {
    background-color: var(--color-gray-950);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect x='8.75' y='8.75' width='2.5' height='2.5' fill='%23333330'/%3E%3C/svg%3E");
  }
}

.coords {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-2xs);
  color: var(--text-tertiary);
  line-height: var(--font-leading-20);
  text-align: center;
  font-feature-settings: 'salt' 1;
}
